/* --------------------GENERALES */
* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth;
  width: 1024px; }

body {
  width: 1024px;
  background-color: white; }

/* ------------------NAV */
nav {
  width: 1024px;
  height: 40px;
  display: block;
  position: absolute;
  margin: 0px;
  padding-left: 380px;
  z-index: 2;
  background-color: black; }

nav ul li a {
  display: inline-block;
  position: relative;
  color: blanchedalmond;
  background-color: black;
  padding: 0px 20px;
  z-index: 2;
  text-decoration: none; }

nav ul li {
  padding: 0px 20px;
  margin-top: 0px;
  height: 34px;
  list-style: none; }

nav ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white; }

li a {
  height: 40px; }

li a p {
  margin-top: 6px; }

/* -----------------------CONTENEDORES */
.contenedor {
  background-color: black;
  height: 768px;
  position: relative;
  margin: 0px;
  justify-content: center; }

div#primero.contenedor {
  width: 1024px; }

div#segundo.contenedor {
  padding: 100px;
  padding-top: 10px; }

.portada {
  display: block;
  position: absolute;
  margin: 40px 0px;
  padding: 0px;
  z-index: 1;
  width: 1024px;
  height: 580px; }

.titulo, .titulo2, .subtitulo {
  display: inline;
  justify-self: center;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  margin: 260px 300px;
  font-size: 80px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.titulo2 {
  margin: 10% 10%;
  color: white;
  font-size: 50px; }

.subtitulo {
  font-size: 25px;
  margin: 35% 40%;
  position: absolute; }

.redes__iconos, .redes__iconosI {
  width: 85px;
  margin: 0px 110px; }

.redes__iconosI {
  margin-bottom: 10px; }

.links__redes {
  margin: 0px 0px 20px 60px;
  color: white; }

h3 {
  font-style: italic;
  font-weight: 100;
  color: white;
  font-family: 'Times New Roman', Times, serif; }

h4 {
  color: white;
  margin-left: 45px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.texto__sobremi {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white; }
