/* --------------------GENERALES */
* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

body {
  width: 1024px;
  height: auto;
  background-color: black; }

/* ------------------NAV */
nav {
  width: 1024px;
  height: 30px;
  display: block;
  position: fixed;
  margin: 0px;
  padding-left: 350px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.226); }

nav ul li a {
  display: inline-block;
  position: relative;
  color: blanchedalmond;
  background-color: transparent;
  padding: 0px 25px;
  z-index: 3;
  text-decoration: none;
  font-family: 'Staatliches', cursive; }

nav ul {
  position: fixed; }

nav ul li {
  padding: 0px 20px;
  margin-top: 0px;
  height: 34px;
  list-style: none;
  position: fixed; }

nav ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white; }

li a {
  height: 40px; }

li a p {
  margin-top: 4px;
  transition-duration: 0.7s; }

li a p:hover {
  transform: scale(1.1);
  background-color: rgba(255, 235, 205, 0.082); }

/* -----------------------CONTENEDORES */
#obras {
  width: 1024px;
  height: auto;
  padding: 100px;
  margin-top: 10px; }

#artista {
  width: 1024px;
  height: auto;
  padding: 50px;
  margin-top: 50px;
  position: relative; }

#contacto {
  width: 1024px;
  height: auto;
  padding: 50px;
  margin-top: 0px;
  position: relative;
  justify-content: right; }

.texto__sobremi {
  margin: 200px 0px 0px 50px;
  display: inline-block;
  width: 256px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  color: white; }

.portada {
  display: block;
  position: relative;
  margin: 0px 0px;
  z-index: 1;
  width: 1024px;
  height: 650px; }

.cuadro {
  width: 400px;
  padding: 20px; }

.titulo, .titulo2, h5.subtitulo {
  display: inline;
  position: absolute;
  z-index: 2;
  margin: 0px;
  font-size: 100px;
  padding-left: 300px;
  padding-top: 200px;
  color: white;
  font-family: 'Dancing Script', cursive; }

.titulo2 {
  font-size: 50px;
  padding-top: 50px;
  padding-left: 300px; }

h5.subtitulo {
  color: blanchedalmond;
  font-size: 25px;
  margin: 31% 41%;
  padding-left: 4px;
  padding-top: 0px;
  position: absolute;
  font-family: 'Staatliches', cursive; }

h5.subtitulo2 {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  color: #ffebcc;
  margin-top: 130px;
  margin-left: 44%;
  position: relative; }

img.profile {
  display: inline-block;
  position: relative;
  width: 250px;
  border-radius: 100%;
  margin: 0px 10px 120px 150px; }

.redes__iconos {
  width: 85px;
  margin: 0px auto;
  display: inline;
  float: center;
  position: relative; }

h3 {
  margin: 170px 200px;
  display: inline;
  position: absolute;
  font-style: italic;
  font-weight: 100;
  color: blanchedalmond;
  font-family: 'Times New Roman', Times, serif; }

/* animacion de scroll */
.animado {
  opacity: 0;
  transition: all 0.8s; }
