/* --------------------GENERALES */
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body{
    width: 1280px;
    height: auto;
    background-color: black ;
}

/* ------------------NAV */
nav {
    width: 1280px;
    height: 30px;
    display:inline-block;
    text-align: center;
    list-style-type: none;
    position:fixed;
    z-index: 5;
    background-color: hsla(0, 0%, 0%, 0.226);
}
nav ul li a{
    display: inline-block;
    position: relative;
    color: blanchedalmond;
    padding: 0px 55px;
    z-index: 3;
    text-decoration: none;
    font-family:'Staatliches', cursive;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    position: relative;
}
nav ul li {
    padding: 0px 20px;
    margin-top: 0px;
    height: 34px;
    list-style: none;
}
nav ul li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
li a {
    height: 40px;
}
li a p {
    margin-top: 4px;
    transition-duration: 0.7s;
}
li a p:hover {
    transform: scale(1.1);
    background-color: rgba(255, 235, 205, 0.082);
}
/* -----------------------CONTENEDORES */
#zero {
    position: relative;
    width: 1280px;
}
#obras {
    width: 1280px;
    height: auto;
    text-align: center;
    margin-top: 450px;
}
#artista {
    width: 1280px;
    height: auto;
    padding: 50px 0px;
    padding-top: 150px;
    position: relative;
}
#contacto { 
    width: 1280px;
    height: auto;
    padding: 150px auto;
    margin: 150px auto; 
    position:relative;
    text-align: center;
    z-index: 2;  
}
div img.portada {
    display: block;
    position: relative;
    margin: 0px;
    z-index: 0;
    width: 1280px;
    height: 768px;
}
p.texto__sobremi {
    margin-top: 50px;
    display: inline-block;
    position: absolute;
    width: 420px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: white;
    left: 45%;
}
.colorBeige {
    color: rgba(255, 235, 205, 0.555);
    transition-duration: 0.5s;
}
.colorBeige:hover {
    color: blanchedalmond;
}
img.cuadro {
    width: 500px;
    padding: 10px;
}
h1.titulo {
    display: inline;
    position:absolute;
    z-index: 2;
    margin: 0px auto;
    font-size: 100px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: 100
}
h5.subtitulo {
    @extend .titulo;
    color: blanchedalmond;
    font-size: 25px;
    position: absolute;
    font-family:'Staatliches', cursive;
}
h5.subtitulo2 {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: hsl(36, 100%, 90%);
    position: relative;
    margin: 20px auto;
}
img.profile {
    display: inline-block;
    position: absolute;
    width: 340px;
    border-radius: 100%;
    left: 20%;
}
.redes__iconos {
    width: 200px;
    margin: 0px auto;
    display: block;
    cursor: pointer;
    transition-duration: 0.5s;
}
.redes__iconos:hover {
    transform: scale(1.1);
}
h3 {
    width: auto;
    margin: 0px;
    display: inline;
    position: relative;
    font-style: italic;
    font-weight: 100;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
/* FOOTER */
footer div p {
    color: rgba(255, 235, 205, 0.555);
    font-size: 22px;
    font-weight: 100;
    font-family: 'Staatliches', cursive;
    transition-duration: 0.5s;
    text-align: center;
    margin-bottom: 20px;
}
footer div p:hover {
    color: blanchedalmond;
}
/* animacion de scroll */

.animado {
    opacity: 0;
    transition: all 1s;
}