* {
    margin: 0px;
    padding: 0px;
}
body{
    width: 1024px;
    background-color: white ;
}
.row__contacto {
    margin-left: 20px;
}
.contenedor {
    background-color: black;
    width: auto;
    height: 768px;
    position: relative;
    margin: 0px;
    justify-content: center;
}
div#segundo.contenedor {
    padding: 50px;
}
.portada {
    display: block;
    position: absolute;
    margin: 30px 0px;
    padding: 0px;
    z-index: 1;
    width: 1024px;
    height: 580px;
}
.titulo {
    display: inline;
    justify-self: center;
    position: absolute;
    background-color: transparent;
    z-index: 2;
    margin: 260px 300px;
    font-size: 80px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo2 {
    @extend .titulo;
    margin: 10% 10%;
    color: white;
    font-size: 50px;
}
.subtitulo {
    @extend .titulo;
    font-size: 25px;
    margin: 35% 40%;
    position: absolute;
}
.redes__iconos {
    width: 85px;
    margin: 0px 110px;
}
.redes__iconosI {
    @extend .redes__iconos;
    margin-bottom: 10px;
}
.links__redes {
    margin: 0px 0px 20px 60px;
    color: white;
}
h3 {
    font-style: italic;
    font-weight: 100;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h4 {
    color: white;
    margin-left: 45px;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texto__sobremi {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p {
    color: blanchedalmond;
}
a {
    scroll-behavior: smooth;

}